input.login-input-username{background: url('input-user.png') no-repeat right 5px center;}
input.login-input-password{background: url('input-key.png') no-repeat right 5px center;}
div.icon-loader {text-align:center;margin:0 0 -48px 0;height:48px;}


.chooser-vertical {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px;
    color: #6c6c6c;
}

.chooser-vertical tr:first-child > td {
    border-top: 1px solid #DDD;
}

.chooser-vertical-row > td {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #DDD;
}

.chooser-vertical-icon {
    vertical-align: center;
    width: 1%;
    color: rgb(172, 172, 172);
}

.chooser-vertical-row:hover {
    background: #EEE;
    cursor: pointer;
}
