/**** common elements ****/
* {  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;  font-size: 100%;}
.glyphicon { font-family: 'Glyphicons Halflings' !important; }
fieldset {  padding: 0;  margin: 0;  border: 0;  min-width: 0; }
legend {  display: block;  width: 100%;  padding: 0;  margin-bottom: 20px;  font-size: 24px;  line-height: inherit;  color: #333;  border: 0;  border-bottom: 1px solid #e5e5e5; }
label {  display: inline-block;  max-width: 100%;  font-weight: normal; }
input[type="search"] {  -webkit-box-sizing: border-box;  -moz-box-sizing: border-box;  box-sizing: border-box; }
input[type="file"] {  display: block;  cursor: pointer; }
input[type="range"] {  display: block;  width: 100%; }
select[multiple],select[size] {  height: auto; }
input[type="file"]:focus {  outline: thin dotted;  outline: 5px auto -webkit-focus-ring-color;  outline-offset: -2px; }
.form-group-checkbox label {  top: 3px;  left: 18px;  position: relative; }
input.checkbox-square {  visibility: hidden; }
input.checkbox-square:after {  visibility: visible;  font-family: Icons;  height: 17px;  width: 17px;  position: relative;  top: -3px;  left: -3px;  color: #ccc;  padding-left: 1px;  background-color: transparent;  display: inline-block; }
input.checkbox-square:checked:after {  content: "\E004";  background-color: #e0e1dd;  color: #333;  font-size: 15px;  top: 2px;  left: 1px; }
input.checkbox-square:after {  content: "\E002";  font-size: 22px; }
input:invalid {  -moz-box-shadow: none;  box-shadow: none; }
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio]{margin-left: 0;}
div.children-pull-right * {float:right;}

.isl-table { display: table; }
.isl-table-row { display: table-row;}
.isl-table-head, .isl-table-cell { display: table-cell; padding: 3px 10px;}

a img {border:none;}
hr {border:none;height:1px;color:#ccc;background:#ccc;margin-top: 30px;margin-bottom: 20px;}
output {  display: block;  padding-top: 9px;  font-size: 16px;  line-height: 1.25;  color: #333; }
form{clear:both;}



ol,li,ul {margin:0;padding:0;list-style-type:none;}


.font-weight-semibold {
    font-weight: 600;
}
.font-size-small {
	font-size: 13px;
}


.font-size-very-small {
	font-size: 11px;
}


.display-none {display:none;}

.box.white {background: white;}
.box.closed {border:1px solid #ccc;}
.box-inside{overflow-wrap: break-word;}

.searchform fieldset {height:38px;padding:0;margin:0;border:none;position:relative;}
.searchform input {border:none;width:100%;}
.searchform img.search-icon {position:absolute;right:0px;top:0px;}


.search-bar-container {
	margin-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
	margin-top: -10px;
	margin-left: -10px;
	width: calc(100% + 10px);
}
.search-bar-container .button {
	line-height: 32px;
}

.search-bar-container > * {
	display: inline-flex;
	margin-left: 10px;
	margin-top: 10px;
}

.search-bar{ height: 32px; position: relative; min-width: 300px; flex: 1 1; }
.search-bar span.search-icon{ position: absolute; top:6px; left:5px; font-weight: 600; color: #999; }
.search-bar input, .search-bar-container .search-bar input {padding-left: 30px !important; height: 100%; width:100%; border: 2px solid #ccc; font-weight: 600; font-size: 15px;}
.search-bar input::placeholder {
	font-size: 15px; color: #999; opacity: 1;
}

.search-bar.clearable input { padding-right: 30px; }
.search-bar.clearable span.clear-icon { position: absolute; top: 6px; right: 5px; font-weight: 600; color: #999; cursor: pointer; }


.search-bar.active input, .search-bar.focused input, .search-bar input[type="text"]:focus {border: 2px solid #0066cb; border-width: 2px !important; }


input#searchform-query{height:100%}

.form-control {  display: block;  width: 100%;  height: 38px;  padding: 8px 10px;  margin-bottom: 5px;  margin-top: 30px;  font-size: 16px;  line-height: 1.25;  color: #333;  background-color: #fff;  background-image: none;  border: 1px solid #ccc;  border-radius: 0px;  -webkit-transition: border-color ease-in-out 0.15s;  -o-transition: border-color ease-in-out 0.15s;  transition: border-color ease-in-out 0.15s;  -webkit-box-shadow: 0px 0px 0px 1px transparent;  box-shadow: 0px 0px 0px 1px transparent; }
.form-control:focus {    border-width: 2px;    border-color: #b9d300;    padding: 7px 9px;    color: #333333;    outline: 0; }
.form-control::-moz-placeholder {    color: #808080;    opacity: 1; }
.form-control:-ms-input-placeholder {    color: #808080; }
.form-control::-webkit-input-placeholder {    color: #808080; }
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {    cursor: default;    background-color: #f2f2f2;    opacity: 0.5;    filter: alpha(opacity=50); }

.no-form .form-control {  margin: 0; }
.form-message {  font-size: 12px; }
.message-error {  color: red; }

.content-title {margin-top: 30px; font-size: 28px; font-weight:600; padding-bottom: 20px; }
.content-title.h2 { margin-top: 20px; font-size: 24px; padding-bottom: 10px; }
.content-title.h3 { margin-top: 20px; font-size: 20px; padding-bottom: 10px; }

.content-title.bottom-link {padding-bottom: 10px;}
.ui-dialog {  max-width: 900px;  overflow-wrap: break-word;}
.table-responsive{border:0;}
.tooltip{opacity: 1;position: inherit;}
.controls{margin-top: 20px;}
.bordered{border: 2px solid #ccc;}


.bordered.icp-input input { height: 34px; }
.float-label.focused .bordered.icp-input { border: 2px solid #0066cb;  border-width: 2px !important;}
.float-label.focused span.common-material-icons:not(.icon-no-focus) { color: #0066cb; }
.caption{color:#333; font-weight: 600;}

.clear{clear:both;display:flex;}
.caption.disabled{opacity: 0.5};
.container.doc{min-height:30em;}

.container-medium{ max-width: 1140px; }

.container-narrow{max-width: 600px;}
.container-narrower{max-width: 430px;}
.noborder{border:0 !important;}
.full-width{width:100%;}
.width-70{width:70% !important;}
.width-30{width:30% !important;}
.center-content{margin: 0 auto;}
.checkbox, .radio{margin-top: 0; margin-bottom: 0;}
.code-quote{min-height:50px;padding-left: 10px;padding-right: 10px;color:#777;font-size: 13px;border:1px solid #ddd;}
.overflow-hidden{overflow:hidden;}
span.icon-loader{width:48px;height:48px;background-image:url('loader.gif'); display: inline-block;}
.limit-text{max-width:250px; overflow: hidden; text-overflow: ellipsis;white-space: nowrap;}
.checkbox label, .radio label {padding-left: 0;}
.min-width-650{min-width: 650px;}
.checkbox-text {margin-left: 0.4em;}
.radio-text {margin-left: 0.4em;}
.position-relative{position: relative;}
.nohover:hover{background-color: initial !important;}
.mobile-fullscreen{width:100%;}

.margin-bottom{margin-bottom: 20px;}
.margin-top{margin-top: 20px;}
.margin-right{margin-right: 20px;}
.margin-left{margin-left: 20px;}
.margin-top-double{margin-top:40px;}
.margin-bottom-double{margin-bottom: 40px}
.margin-top-20{margin-top:20px;}
.margin-top-40{margin-top:40px;}

.margin-top-60 { margin-top:60px; }
.margin-bottom-10 { margin-bottom: 10px; }

.margin-bottom-40{margin-bottom:40px;}
.margin-bottom-20{margin-bottom:20px;}

.margin-around {  margin-top: 2.5em;  margin-bottom: 2.5em; }
.margin-around-xxs {  margin-top: 0.625em;  margin-bottom: 0.625em; }
.margin-around-xs {  margin-top: 1.25em;  margin-bottom: 1.25em; }
.margin-around-sm {  margin-top: 1.875em;  margin-bottom: 1.875em; }
.margin-around-lg {  margin-top: 3.75em;  margin-bottom: 3.75em; }
.margin-around-xl {  margin-top: 5em;  margin-bottom: 5em; }
.margin-around-xxl {  margin-top: 6.25em;  margin-bottom: 6.25em; }
.margin-before {  margin-top: 2.5em; }
.margin-before-xxs {  margin-top: 0.625em; }
.margin-before-xs {  margin-top: 1.25em; }
.margin-before-sm {  margin-top: 1.875em; }
.margin-before-lg {  margin-top: 3.75em; }
.margin-before-xl {  margin-top: 5em; }
.margin-before-xxl {  margin-top: 6.25em; }
.margin-after {  margin-bottom: 2.5em; }
.margin-after-xxs {  margin-bottom: 0.625em; }
.margin-after-xs {  margin-bottom: 1.25em; }
.margin-after-sm {  margin-bottom: 1.875em; }
.margin-after-lg {  margin-bottom: 3.75em; }
.margin-after-xl {  margin-bottom: 5em; }
.margin-after-xxl {  margin-bottom: 6.25em; }
.nomargin {  margin: 0 !important; }
.nomargin-before {  margin-top: 0 !important; }
.nomargin-after {  margin-bottom: 0 !important; }

/**** Navigation ****/

nav.navbar{border:0; border-bottom: 1px solid #ccc;}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {border-color: #e6e6e6;}
.navbar-nav {margin: 0px -15px;}
.navbar-collapse {padding-left:30px;padding-right: 30px;}
.navbar-brand {padding: 0;}
.navbar-brand > img{max-height: 40px;max-width: 200px;}
.navbar-default{  background-color: #fff;}
#navbar{  font-family: Arial, Helvetica, sans-serif;  font-weight: normal;}
.navbar-toggle{margin-top: 18px;}
.navbar-toggle .icon-bar+.icon-bar {margin-top: 6px;}
.vertical-align-container {height: 75px;}
.vertical-align-container:before {content: '';display: inline-block;height: 100%; vertical-align: middle;}
.navbar-brand{display: inline-block;vertical-align: middle;float:none;height: auto;}
.navbar-header {margin-right: 30px;}

#secondary-menu {margin-top: 0px;padding-left: 0;padding-bottom:0;font-size: 1em;overflow: auto;clear:both;}
.secondary-collapse{padding-left: 0;margin-bottom: 5px;}
.secondary-menu.navbar-collapse{padding-right: 0;}
.horizontal-menu.module-navigation{display: block;padding-left: 0;margin-left: 0;border-bottom: 1px solid #e7e7e7;overflow:auto;}

.horizontal-menu > .menu-item, .horizontal-menu > noscript > .menu-item {display: block; float: left;}
a.product-link { display: block; padding: 10px 15px; line-height: 20px; font-weight: 600; text-decoration: none; border-bottom: 2px solid transparent; }
#product-navigation-menu li a.active { border-bottom: 2px solid #a3a3a3;}
#product-navigation-menu li a:hover:not(.active) { border-bottom: 2px solid #c8c8c8;}
#product-navigation-menu li a:not(.active), .isl-nav-tabs > li.nav-item > a.nav-link:not(.active) {color: #333;}
#product-navigation-menu li a:hover, .isl-nav-tabs > li.nav-item > a.nav-link.active, .isl-nav-tabs > li.nav-item > a.nav-link:hover{color: #0066cb;}


/* Floating labels */

.float-label:not(.search-bar) { text-align: left; position: relative; padding-top: 18px; }
.float-label.focused select, .float-label.focused textarea { border: 2px solid #0066cb; border-width: 2px !important; }
.float-label > label:first-child { position: absolute; top: 0; font-weight: 600; color:#6c6c6c; line-height: 1; margin-bottom: 0; font-size: 12px; }
.float-label > label:first-child.focused {color: #0066cb; }
.float-label > label.toggled {top: 10px; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";filter: alpha(opacity=00);-moz-opacity: 0;-khtml-opacity: 0;opacity: 0;-webkit-transition: all linear 0.2s;-moz-transition: all linear 0.2s;transition: all linear 0.2s;}
.float-label > label.toggled.active {top: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";filter: alpha(opacity=100);-moz-opacity: 1;-khtml-opacity: 1;opacity: 1;-webkit-transition: all linear 0.2s;-moz-transition: all linear 0.2s;transition: all linear 0.2s;}

@media (min-width: 992px){
.navbar-brand > img{max-width: 450px;}  
}


.navbar-nav > li > a, .navbar-nav > li > a:focus {padding-top: 27px;padding-bottom: 25px;border-bottom: 6px solid transparent;}
.navbar-brand { padding: 0; }

@media (min-width:992px){  
  .mobile-fullscreen{width: auto;width: initial;}
  
  
  .navbar-brand > img{max-width: 250px;}
  #secondary-menu{padding-left: 0;padding-bottom:20px;margin-top: 20px;}
  .horizontal-menu > .menu-item, .horizontal-menu > noscript > .menu-item{width: auto;width: initial;}
  .container.doc{padding:0;}
}


.container.doc { max-width: 3840px; padding: 0 40px;}

/****** Product pages *******/

/* Error and message boxes */

.error, .box.error, .alert-error, .alert-danger  { color: #58161c; background-color: #f8d7da; padding: 15px; margin-bottom: 20px; border: 1px solid #f5c6cb; font-weight: 600; font-size: 13px; border-radius: 0;}

.error p {margin:.71428571em 0 0;}
.error p:first-child {margin-top:0;}
.error.hidden { display:none; }



.warning, .box.warning, .alert-warning {color: #513e02; background-color: #fff3cd; padding: 15px; margin-bottom: 20px; border: 1px solid #ffeeba; font-weight: 600; font-size: 13px; border-radius: 0;}
.alert-info {color: #09404a; background-color: #d1ecf1; padding: 15px; margin-bottom: 20px; border: 1px solid #bee5eb; font-weight: 600; font-size: 13px; border-radius: 0;}

.warning p {margin:.71428571em 0 0;}
.warning p:first-child {margin-top:0;}
.warning.hidden { display:none; }
.warning.create-new-session { margin-left:0;margin-right:0;padding:24px; }


.message, .box.message {color: #124a1f; background-color: #d4edda; padding: 15px; margin-bottom: 20px; border: 1px solid #c3e6cb; font-weight: 600; font-size: 13px;}

.message p {margin:.71428571em 0 0;}
.message p:first-child {margin-top:0;}
.message.hidden { display:none; }

/**** Tables ****/
table.noborder {width:100%;}
table.list.search{width:100%;}

table.list {color: #333;}

table.list td, table.list th {text-align:left;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;font-size: 12px;word-break: break-all;}
table.list th a{color: #333;}
table.list.narrow td, table.list.narrow th {text-align:left;}
table.list tr.head {clear:both;font-size:12px;margin:0;padding:0;  height: 30px;}

table.list th {padding: 10px 10px 10px 20px;}

table.list tr.head th, table.list thead tr.head td, table.list thead td, .table-list tr th {color:#333; background-color:#CCC;font-weight:bold;padding-top:3px;padding-left: 12px;height:32px;}
table.list tr.head th .button, table.list thead tr.head td .button {font-weight:normal;margin:0 .5em 0 0;}

table.list td {border:0;border-bottom:1px solid #e4e4e4;padding: 3px 5px 3px 20px;height:60px;font-size:15px;}
table.list td.sub-value, table.list td .sub-value {font-size:13px;}
table.list tr { background-color: #fff; }
table.list:not(.no-stripes) tr:nth-child(even) { background-color: #fafafa; }
table.list.narrow th, table.list.narrow td { height: 32px; }
table.list.narrow th {padding: 3px 5px 3px 20px;}

table.rlist thead th, table.list thead td{border-top: 1px solid #CCC;}
table.list td.col-checkbox, table.list th.col-checkbox{width:30px;}
table.list td.col-actions, table.list th.col-actions{width:39px;}
table.list .col-icon {min-width: 50px; width:50px;}
table.list .col-icon img {width:32px;height:32px;}
table.list .col-select {width:20px;}
table.list .center {text-align:center;}

table.list:not(.no-hover) > tr:hover, table.list:not(.no-hover) > tbody > tr:hover {background-color: #E6F5FF;}

table.list tr.table-header{font-size: 12px;color: #6C6C6C;}
table.list tr.table-header th, table.list tr.table-header td{background-color: #E6E6E6;height: 30px;text-align: left;}
table.list tr.head{}
table.list tr.table-header th.col-checkbox{text-align: center;}

div.icp-input.icp-input-large input[type="text"], div.icp-input.icp-input-large input[type="password"], div.icp-input.icp-input-large input[type="email"], div.icp-input.icp-input-large input[type="tel"] { height: 50px; font-size: 18px; padding: 2px 3px 2px 11px; border: 2px solid #ccc; }
div.icp-input.icp-input-large input[type="text"]::placeholder, div.icp-input.icp-input-large input[type="password"]::placeholder, div.icp-input.icp-input-large input[type="email"]::placeholder, div.icp-input.icp-input-large input[type="tel"]::placeholder { font-size: 18px; }
div.icp-input.icp-input-large input[type="text"]:focus, div.icp-input.icp-input-large input[type="password"]:focus, div.icp-input.icp-input-large input[type="email"]:focus, div.icp-input.icp-input-large input[type="tel"]:focus { border: 3px solid #0066cb; padding: 1px 2px 1px 10px; border-width: 3px !important; }
div.icp-input select, select.icp-input { background-color: #fff; font-size: 15px; font-weight: 600;}

div.icp-input select:disabled, select.icp-input:disabled { background-color: #f5f5f5; color: #333; opacity: 1; pointer-events: none;}

table.list input[type="password"],table.list input[type="text"], table.list select, input.icp-input, select.icp-input{ height:32px; padding-left: 5px;border:2px solid #ccc; font-size: 13px; }

table.list input.icp-input-small, input.icp-input-small, select.icp-input-small{height: 32px;border: 2px solid #CCC;padding-left: 5px;font-size: 14px;}
table.userlist .row:before, table.userlist .row:after, table.list .row:before, table.list .row:after, table.userlist .nav:before, table.userlist .nav:after {    content: none;}
table.userlist, table.table-input{width:100%;}
table.userlist, table.list {width: 100%}
table.userlist tfoot tr td {background-color:#eee;}
table.userlist td, table.userlist th{word-break: break-all;}
table.graphlist td {vertical-align:top;}
table.graphlist{width: 100%;}

table.list .table-list-action-row td{border-bottom: 0;padding:0;}
table.list .table-list-action-row:hover{background:#fff;}

/**** Buttons ****/
.button.scta, .btn-cta, .ui-dialog .ui-dialog-buttonset button:first-child:not(:last-child) {  color: #333;  background-color: #bad632;  border-color: #bad632; }
.button.scta:hover, .btn-cta:hover, .btn-cta.hover, .ui-dialog .ui-dialog-buttonset button:first-child:hover:not(:last-child), div.icp-input .button.scta:hover {color: #333;background-color: #afcb29 ;border-color: #afcb29; }

.button.scta.disabled:hover, .btn-cta.disabled:hover, .btn-cta.hover.disabled, .ui-dialog .ui-dialog-buttonset button:first-child.disabled:hover:not(:last-child), div.icp-input .button.scta.disabled:hover {background-color: #bad632 ;border-color: #bad632; }

.btn-cta:active, .btn-cta.active {    background-image: none;    background-color: #99b224; }
.btn-cta.disabled, .btn-cta.disabled:hover, .btn-cta.disabled:focus, .btn-cta.disabled:active, .btn-cta.disabled.active, .btn-cta[disabled], .btn-cta[disabled]:hover, .btn-cta[disabled]:focus, .btn-cta[disabled]:active, .btn-cta[disabled].active, fieldset[disabled] .btn-cta, fieldset[disabled] .btn-cta:hover, fieldset[disabled] .btn-cta:focus, fieldset[disabled] .btn-cta:active, fieldset[disabled] .btn-cta.active {    background-color: #bad632;    border-color: #bad632; }
.btn-cta .badge {    color: #bad632;    background-color: #333; }
.btn-lg, .btn-group-lg > .btn {  min-width: 204px;  padding: 12px 16px;  font-size: 14px;  line-height: 1.25;  border-radius: 0; }
.btn-md {  min-width: 160px;  padding: 9px 14px;  font-size: 14px;  line-height: 1.25;  border-radius: 0;  }
.btn-sm, .btn-group-sm > .btn {  min-width: 136px;  padding: 6px 10px;  font-size: 12px;  line-height: 1.5;  border-radius: 0; }
.btn-xs, .btn-group-xs > .btn {  min-width: 84px;  padding: 2px 5px;  font-size: 12px;  line-height: 1.5;  border-radius: 0; }
.btn-block {  display: block;  width: 100%; }

.button.scta:active, .button.scta:focus, .btn-cta:active, .btn-cta:focus, .btn-cta.active, .ui-dialog .ui-dialog-buttonset button:first-child:active:not(:last-child), .ui-dialog-buttonset button:first-child:focus:not(:last-child), div.icp-input .button.scta:active, div.icp-input .button.scta:focus {
	color: #333;background-color: #afcb29 ;border-color: #afcb29;
}
.button.button-danger {
	color: #fff;
	background-color: #b93432;
	border-color: #b93432;
}
.button.button-danger:hover,
.isl-modal .button-danger.active.focus, 
.isl-modal .button-danger.active:focus,
.isl-modal .button-danger.active:hover,
.isl-modal .button-danger:active.focus,
.isl-modal .button-danger:active:focus, 
.isl-modal .button-danger:active:hover,
.isl-modal .open>.dropdown-toggle.button-danger.focus,
.isl-modal .open>.dropdown-toggle.button-danger:focus, 
.isl-modal .open>.dropdown-toggle.button-danger:hover  {
	color: #fff;
	background-color: #a94442;
	border-color: #a94442;
}


.button, .actionbutton, .table-list-action-cell input[type="submit"].ui-dialog .ui-dialog-buttonset button:last-child, .ui-dialog button.ui-button,
.table-input input[type="submit"], table.list input[type="submit"]{cursor:pointer; font-size: 13px;  display: inline-block;  text-align: center;  text-decoration: none !important;  border: none;  line-height: 32px;background: #dcdcdc;  text-decoration: none;  color: #000; padding: 0 20px 0 20px  }

.button-main { line-height: 32px; min-width: 110px; font-size: 13px; font-weight: 600; border-radius: 0; }
.button-main.button-xl { line-height: 42px; font-size: 15px; }
.button-main.button-xxl { line-height: 50px; font-size: 18px; }
.button.disabled, .button:disabled {opacity:0.5;cursor:default;}
.button-split > .button { width: calc(100% - 32px); }
.button-split > .button.more-caret { width: 32px; }

.button-bulk{  line-height: 20px;  margin-right: 5px;}

.button.disabled:hover, .button.disabled:focus {background:#dcdcdc;color:inherit;cursor:default;}

.button.select-user{height: 36px;}
.button.selected:hover{background: #666 !important;color: #fff !important;}

a.more-caret{  display: inline-block;  text-align: center;  line-height: 32px;  background: #dcdcdc;  text-decoration: none;  border-left: 1px solid #bbb;  color: #000;  padding-left: 5px;  padding-right: 7px;  margin-left: -5px;}
a.more-caret:hover{background: #cccccc;color: #222;}
input:focus{  outline: none;}
td.selection_td{  height: 30px !important;  border: none !important;}
div.content{  overflow-wrap: break-word !important;  word-wrap: break-word !important;}

div.icp-input textarea{width:100%;border: 2px solid #ccc;padding: 5px;font-size: 13px; font-weight: 600;}

div.icp-input input[type="text"], div.icp-input input[type="password"], div.icp-input input[type="email"],  div.icp-input input[type="tel"], .ui-dialog input[type="email"], .ui-dialog input:not([type]),.ui-dialog select,
.table-input input[type="text"], .table-input input[type="password"], .table-input input[type="email"],
div.icp-input select, .table-input select
{height: 32px;border: 2px solid #CCC;padding-left: 5px;width: 100%;font-size: 13px; font-weight: 600;}
div.icp-input input[type="text"]::placeholder, div.icp-input input[type="password"]::placeholder, div.icp-input input[type="email"]::placeholder,  div.icp-input input[type="tel"]::placeholder, .ui-dialog input[type="email"]::placeholder, .ui-dialog input:not([type])::placeholder,
.table-input input[type="text"]::placeholder, .table-input input[type="password"]::placeholder, .table-input input[type="email"]::placeholder
{ color: #999; opacity: 1; font-size: 13px;}

div.icp-input input[type="submit"], .table-input input[type="submit"]{max-width: 200px;clear:both;}
div.icp-input{margin-bottom: 20px;min-height: 32px;}
div.icp-input.no-margin, .no-margin {margin: 0;}
div.icp-text{margin-bottom: 20px; font-weight: 600;}
input[readonly], textarea[readonly] {background-color: #f5f5f5;}
input.faulty{background: ##ebccd1;}

div.icp-input.icp-input-readonly input[readonly], div.icp-input.icp-input-readonly input[type="text"][readonly]
{ background-color: initial !important; border: none; padding-left: 0; font-size: 15px; height: 21px; }
div.icp-input.icp-input-readonly textarea[readonly]
{ background-color: initial !important; border: none; padding-left: 0; font-size: 15px; min-height: 21px; }


.table-input input, .table-input select{max-width: 300px;}
label.icp-label{font-size: 12px;}

/**** Tooltips ****/

body .ui-tooltip, .tooltiptext { max-width:600px; background:#333; border: 1px solid #333; font-size: 13px; font-weight: 600; color: #fff; font-size: 13px; font-weight: 600; border-radius: 0; padding: 10px 20px; }

.tooltipmark {display:inline-block;width:1.25em;height:1.25em;border:1px solid #999;color:#999;font-weight:bold;font-size:.85714286em;text-align:center;line-height:1.25;cursor:pointer;margin-left:.3em;position:relative;text-indent:-1000em;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;}
.tooltipmark:before {content:"?";position:absolute;left:0;top:0;width:100%;text-align:center;text-indent:0;}
.tooltipmark.exclamation:before {content:"!";}
.tooltipmark:hover {border-color:#666;color:#666;}
.tooltipmark.red {color:#FA4D4D;border-color:#FA4D4D;}
.tooltipmark.red:hover {color:#FA4D4D;border-color:#FA4D4D;}

/**** Modals ****/
.ui-dialog {padding:0 !important;min-width: 250px;}
.ui-dialog textarea {border: 1px solid #ccc;padding: 5px;}
.ui-dialog input[type="text"].noborder:focus, .ui-dialog input[type="password"].noborder:focus{border:0 !important; box-shadow: none !important;}
.ui-widget-content{border:0 !important;}

.ui-dialog .ui-dialog-buttonpane {border:0 !important; padding: 10px 30px 30px 30px !important;}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset button { margin: 0 0 0 10px; }
.ui-dialog .ui-dialog-content { max-width: 100%; min-width: 250px; padding: 0 30px !important; }
.ui-dialog .ui-dialog-content > .container-fluid { padding: 0; }
.ui-dialog .ui-dialog-titlebar {padding: 20px 30px 20px 30px !important; background:#fff; border:0; color: #333; font-weight: 600; margin-bottom: 10px; border-radius: 0; font-size: 20px; }
.ui-dialog .ui-dialog-titlebar .ui-dialog-title { margin: 0; }
.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close, .close { position: relative; width: 16px; height: 16px; overflow: hidden; background: transparent !important; cursor: pointer !important; margin: 0; float: right; right: 0; }
.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close:before, .ui-dialog .ui-dialog-titlebar-close:after, .close::before, .close::after {  content: '';  position: absolute;  height: 2px; width: 100%; top: 50%; left: 0; margin-top: -1px; background: #ccc; }

.ui-dialog .ui-dialog-titlebar-close:hover:before, .ui-dialog .ui-dialog-titlebar-close:hover:after, .close:hover::before, .close:hover::after {background:#DC0000;}
.ui-dialog .ui-dialog-titlebar-close:before, .close::before {  -webkit-transform: rotate(45deg);  -moz-transform: rotate(45deg);  -ms-transform: rotate(45deg);  -o-transform: rotate(45deg);  transform: rotate(45deg);}
.ui-dialog .ui-dialog-titlebar-close:after, .close::after {  -webkit-transform: rotate(-45deg);  -moz-transform: rotate(-45deg);  -ms-transform: rotate(-45deg);  -o-transform: rotate(-45deg);  transform: rotate(-45deg);}
.ui-dialog .ui-dialog-titlebar-close span{display:none !important;}
.ui-dialog .ui-dialog-buttonset .ui-button{border-radius: 0 !important; line-height: 32px; padding-top: 0; padding-bottom: 0; font-size: 13px; font-weight: 600; min-width: 110px;} 
.ui-dialog .ui-dialog-buttonset button:focus, .ui-dialog .ui-dialog-buttonset button:active{outline: 0!important;} 
.ui-dialog-titlebar-close.ui-state-hover{border:0 !important;}
.ui-dialog-title {display:inline-block;overflow: hidden;text-overflow:ellipsis;white-space:nowrap;width: 90%;}

div.blockOverlay, .ui-widget-overlay { background-color: #000 !important; opacity: 0.7 !important; }

.ui-dialog .ui-widget-content a {color: #0066cb;}
.ui-dialog .ui-resizable-se.ui-icon-gripsmall-diagonal-se {width: 14px;height: 14px;right: 3px;bottom: 3px;background-position: -80px -224px;background-position: -80px -224px;}

/**** Drop-down menus ****/
.ui-menu{position: absolute;border:1px solid #ccc !important;padding: 5px 0 !important;}
.ui-menu .ui-menu-item {list-style-image: none !important;}

.ui-menu .ui-menu-item a,.dropdown-header a {display: block;  padding: 0 40px 0 20px;  clear: both;  font-weight: 600;  line-height: 30px;  color: #333;  white-space: nowrap;  font-size: 13px;}
.ui-menu .ui-menu-item a:hover, .dropdown-header a:hover {text-decoration: none;  background-color: #E6F5FF;}
.ui-menu .ui-menu-item a.ui-state-active {margin:0;background-color: #E6F5FF !important;border:none !important;}
.ui-menu hr.ui-menu-divider{border-top: 1px solid #ccc !important; margin: 5px 0;}

li.ui-menu-item .ui-state-focus{color: #262626 !important;  text-decoration: none !important;  background-color: #f5f5f5 !important;  background: none;  border: none;  margin: 0 !important;  font-weight: 400 !important;  line-height: 1.42857143 !important;}


.dropdown-header {border:1px solid #ccc;background-color:#fff;padding:5px 0;}
.dropdown-header hr{padding: 0; margin: 5px 0;}

.ui-menu .ui-state-disabled a{color: #ccc !important;}
.ui-menu .ui-state-disabled a:hover{background-color:#fff !important;cursor:default;color:#ccc !important;}

/**** Footer ***/

footer {
	margin-top: auto;
}

.footer { width: 100%; padding: 0 30px 100px 30px; text-align: center; }

.footer p {padding-top: 14px}

.footer-right, .footer-left {display: inline-block;}
.footer-left{margin-bottom: 5px;display:block;}
.copyright {color: #4b4b4b;font-size: 12px;border-top: 1px solid #cccccc;margin: 7px 0 0 0;padding: 5px 0 0 1px;text-align:center;line-height: 1.2;}

.footer{margin-top:80px;}

@media (min-width:768px){ .footer-left{display:inline-block;} .footer-right {float:right;} .footer{text-align: left;margin-top:80px;} .copyright{text-align: left;}}

/**** Mobile ****/
@media only screen and (max-width:480px){

	.navbar-header {margin-right: 10px;}


    .navbar-default .navbar-nav .dropdown-menu > li > a{color:#777;}
  a.dropdown-toggle .caret {display: none;}   
    .dropdown a.dropdown-toggle{display:none;}
    .navbar {margin-bottom: 0px;}
    .horizontal-menu > .menu-item, .horizontal-menu > noscript > .menu-item {width:100%;}

    .container.doc{min-height:22em;}

    .pill-nav .filtering{float: left !important;margin-top: 20px;}
    .secondary-menu{margin-bottom: 20px;}

	.navbar-nav.navbar-hide-small, .navbar-nav .navbar-hide-small { display: none; }

}

/**** Permanent notifications ****/
.isl-permanent-notifications .isl-permanent-notification{display:none;box-sizing: border-box;min-height:33px;padding:6px 35px 6px 20px;font-size:14px;color:#6c6c6c;border-bottom: 1px solid #e7e7e7;}
.isl-permanent-notifications.multiple-notifications .isl-permanent-notification{padding-left:90px;}
.isl-permanent-notifications .current-notification{font-size:14px;color:#6c6c6c;padding-left:10px;}
.isl-permanent-notification.notify{background-color: #ffec7f;}
.isl-permanent-notifications .isl-permanent-notification a {color: #2babe2;}
.isl-permanent-notifications{width:100%;display:none;position: relative;}
/************ default.css **************/
.table-input th, .table-input-section-row td{font-size: 1.5em;font-weight: 100;padding-bottom: 30px;padding-top:30px;height: 30px;}
.table-input-section-row td{border-top: 1px solid #ccc;margin-top: 30px;}
.table-input-spacer-row td{height:30px;}
.table-input-row td{padding-bottom: 10px;}
.tip {-x-system-font:none;background-color:#FFFFCC;border:1px solid #666666;color:#333333;font-family:Arial,Helvetica,sans-serif;font-size:10px;font-size-adjust:none;
  font-stretch:normal;font-style:normal;font-variant:normal;font-weight:normal;left:90px;line-height:12px;padding:1px;position:absolute;top:20px;visibility:hidden;max-width:350px;word-wrap:break-word;z-index:100;}
  
/******** CUSTOMIZATION ********/
  
/*******************************/
/******** Table headers ********/
/*******************************/


table.list tr.table-header th
{color:#333; background-color: #F2F2F2; font-weight: 600; font-size: 15px;}


/*******************************/
/*********** Buttons ***********/
/*******************************/


.button, .actionbutton, .table-list-action-cell input[type="submit"].ui-dialog .ui-dialog-buttonset button:last-child, 
.ui-dialog button.ui-button, .table-input input[type="submit"], table.list input[type="submit"], a.more-caret
/**** Action button ****/

, .ui-dialog .ui-widget-content .button
{background: #dcdcdc; color: #333; font-weight: 600;}


.button:hover, .button:active, .button:focus,.actionbutton:hover, div.icp-input input[type="submit"]:hover, .table-input input[type="submit"]:hover, .ui-dialog button.ui-button:hover, button.ui-button:hover:focus,
.table-input input[type="submit"]:hover, table.list input[type="submit"]:hover,.table-input input[type="submit"]:focus, .table-input input[type="submit"]:active, a.more-caret:hover, .ui-dialog .ui-widget-content .button:hover
/**** Action button - hover****/
{background: #cccccc;color: #222;}

.ui-dialog button.ui-button:not(:first-child) { background-color: transparent; color: #0066cb; }

.ui-dialog button.ui-button:hover:not(:first-child) { background-color: transparent; color: #0056b3; text-decoration:underline!important; }




/*******************************/
/********* Input Focus *********/
/*******************************/

/**** Input focus color ****/

div.icp-input input:focus:not([readonly='readonly']), div.icp-input textarea:focus:not([readonly="readonly"]), textarea:focus:not([readonly="readonly"]), .form-control:focus, div.icp-input select:focus
{border: 2px solid #0066cb;box-shadow: none;outline: 0; border-width: 2px !important;}


/* ISLCONFPROXY-2512 - Bootrstrap v3.4.1 > v4.6 overrides */
/* Main frame */
body {
	
	font-size:13px;
	color: #333;
	
	
}
h2 {
	font-size:30px;
}
h4 {
	font-size:18px;
}
h5 {
	font-size:14px;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
td,
th {
	padding: 0;
}
.hidden {
	display: none!important;
}
.container:before,
.container:after
{
	content: "\00a0";
	display: block;
	overflow: hidden;
	height: 0;
}
.navbar {
	padding:0;

}

.navbar-nav > li > a {
	position: relative;
	display: block;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 27px;
	padding-bottom: 25px;
	line-height: 20px;
	white-space: nowrap;
}
.navbar-nav > li.active > a, .navbar-nav > li > a:hover, .navbar-nav > li > a:focus, .nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .nav a.active-menuitem
{
	text-decoration:none;
	border-bottom: 6px solid #e6e6e6;
}

.navbar-light .navbar-nav>.show>a, .navbar-light .navbar-nav>.show>a:focus, .navbar-light .navbar-nav>.show>a:hover {
	color: #555;
	background-color: #e7e7e7;
}
.navbar-light .navbar-nav>li>a {color: #333;font-size: 13px;font-weight: 600}
.navbar-light .navbar-nav>.active>a{background-color: inherit;}
.navbar-light .navbar-nav>.active>a, .navbar-light .navbar-nav>.active>a:focus, .navbar-light .navbar-nav>.active>a:hover {color: inherit;background-color: inherit;}

.nav-tabs .nav-link {
	margin-bottom: 0;
	border: 1px solid transparent;
}

.navbar .dropdown-menu {
	z-index:1080;
}

.dropdown-menu {
	margin:0;
	font-size:14px;

	border-radius: 0;
	padding: 5px 0;

}

.dropdown-divider {
	margin: 5px 0;
	border-top: 1px solid #ccc;
}
.dropdown-limit-height {
	max-height: 300px;
	overflow-y: auto;
}
.dropdown-item:hover {
	background-color: #E6F5FF;
}
.dropdown-item.active, .dropdown-item:active {
	background-color: #b2e0ff;
}

.dropdown-menu .dropdown-item {
	padding: 0px;
}
.dropdown-menu > li > a {
	display: block;
	clear: both;
	color: #333;
	white-space: nowrap;
	background-color:none;
	padding:0px 20px;

	line-height: 30px;
	font-weight: 600;
	font-size: 13px;

}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:active {
	text-decoration: none;
	background-color: transparent;
}


.dropdown-toggle.no-caret:after {
	display:none;
}

.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px dashed;
	border-top: 4px solid\9;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

.btn {
	font-size:14px;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}

.btn.btn-link {
	padding-top:0;
	padding-bottom:0;
}

.datepicker > .datepicker_header > .icon-home {
	margin-top:0!important;
}

.tooltip {
	font-size:12px;
}

.btn-default:active, .btn-default:focus, .btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .show>.dropdown-toggle.btn-default.focus, .show>.dropdown-toggle.btn-default:focus, .show>.dropdown-toggle.btn-default:hover {
	color: #333;
	background-color: #d4d4d4;
	border-color: #8c8c8c;
	box-shadow:none;
}

tr.row {
	display:table-row;
}
pre {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 1.42857143;
	color: #333;
	word-break: break-all;
	word-wrap: break-word;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 4px;
}

/* 
	BUG-2641 - ISLCONFPROXY-2512
	BS4 requires <nav> for collapsable navbars.
	This restores the old behavior w/o dedicated <nav> element.
*/
button.navbar-toggler.bs3-deprecated-behaviour { padding-left: 0; margin-bottom: 5px; } 
@media (min-width:992px) {
	button.navbar-toggler.bs3-deprecated-behaviour { display:none; }
	div.navbar-collapse.bs3-deprecated-behaviour { display: block; }
}


.g-recaptcha > .grecaptcha-badge {
	z-index: 1000;
}



@font-face {
	font-family: 'Common Material Icons';
	font-style: normal;
	font-weight: 400;

	src: url(../fonts/material-icons-regular-4.0.0/MaterialIcons-Regular.eot);

	src: local('Material Icons'),
	local('MaterialIcons-Regular'),

	url(../fonts/material-icons-regular-4.0.0/MaterialIcons-Regular.woff2) format('woff2'),
	url(../fonts/material-icons-regular-4.0.0/MaterialIcons-Regular.woff) format('woff'),
	url(../fonts/material-icons-regular-4.0.0/MaterialIcons-Regular.ttf) format('truetype');

}

.common-material-icons {
	color: #333;
	font-family: 'Common Material Icons' !important;
	font-weight: normal;
	font-style: normal;
	font-size: 33px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	vertical-align: middle;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}

.common-material-icons.md-18 { font-size: 18px; }
.common-material-icons.md-20 { font-size: 20px; }

.common-material-icons.md-24 { font-size: 24px; }

.common-material-icons.pagination-icon { font-size: 18px; line-height: 32px; font-weight: 600; white-space: nowrap;}
.common-material-icons.cancel { color: #dc3545; cursor: pointer; }

/*******************************/
/********* Date Picker *********/
/*******************************/

div.datepicker { background-color: #fff; }
div.datepicker > .datepicker_inner_container > .datepicker_calendar > .datepicker_table > tbody > tr > th {font-weight: 600; min-width: 36px}
div.datepicker > .datepicker_inner_container > .datepicker_calendar > .datepicker_table > tbody > tr > th,
div.datepicker > .datepicker_inner_container > .datepicker_calendar > .datepicker_table > tbody > tr > td,
div.datepicker > .datepicker_inner_container > .datepicker_calendar > .datepicker_table > tbody > tr > td.wday_sun:not(.out_of_range):not(.day_another_month):not(.active),
div.datepicker > .datepicker_inner_container > .datepicker_calendar > .datepicker_table > tbody > tr > td.wday_sat:not(.out_of_range):not(.day_another_month):not(.active) { color: rgb(51, 51, 51); padding: 8px; }
div.datepicker > .datepicker_header { background-color: white; font-weight: normal; font-size: 15px; font-weight: 600; margin-top: 10px; }
div.datepicker > .datepicker_inner_container { border: none; border-radius: 0px; -webkit-box-shadow: none; -webkit-border-radius: 0px; margin: 0px; background-color: white; display: flex;}
div.datepicker > .datepicker_inner_container > .datepicker_calendar { margin: 0px; border: none; -webkit-border-radius: 0px; width: 230px; border-right: 1px solid rgb(223, 223, 223); padding-right: 5px; width: auto;}
div.datepicker > .datepicker_inner_container.date_only > .datepicker_calendar { padding-right: 0; border-right: none; }
div.datepicker > .datepicker_inner_container > .datepicker_timelist { border-top-right-radius: 0px; border-bottom-right-radius: 0px; -webkit-border-top-right-radius: 0px; -webkit-border-bottom-right-radius: 0px; padding: 0px; margin-top: 10px; width: 80px;}
div.datepicker > .datepicker_header > .icon-close { padding: 0px; top: 8px; right: 8px; font-weight: normal;}
div.datepicker > .datepicker_header > .icon-close > div {background-image: none; }
div.datepicker > .datepicker_header > .icon-close > div:before{ font-family: 'Material Icons';	content: "close"; position: absolute; top: -7px; right: 0px; width: 20px; height: 20px; left: -2px; color: #000; opacity: 0.5;}
div.datepicker > .datepicker_header > .icon-close > div:hover::before{ color: #DC0000;}
div.datepicker > .datepicker_header > .icon-home { padding: 0px; top: 10px; left: 10px; font-weight: normal;}
div.datepicker > .datepicker_header > .icon-home > div {background-image: none; }
div.datepicker > .datepicker_header > a.icon-home > div:before{ font-family: 'Material Icons'; content: "today"; position: absolute; top: -7px; right: -2px; }
div.datepicker > .datepicker_header > span.common-material-icons { font-weight: 600; text-decoration: none; cursor: pointer; }
div.datepicker > .datepicker_header > span.common-material-icons:hover { background-color: white; }
div.datepicker > .datepicker_inner_container > .datepicker_calendar > .datepicker_table > tbody > tr > td.today { border-bottom: #0066CB solid 2px; margin-bottom: -2px; }
div.datepicker > .datepicker_inner_container > .datepicker_calendar > .datepicker_table > tbody > tr > td.active { color: #ffffff; background-color: #0066CB; font-weight: 600; }
div.datepicker > .datepicker_inner_container > .datepicker_calendar > .datepicker_table > tbody > tr > td.hover { color: rgb(51, 51, 51); background-color: #bce4f6; }
div.datepicker > .datepicker_inner_container > .datepicker_timelist > div.timelist_item { padding-left: 10px; padding-top: 5px; padding-bottom: 5px; margin-top: 0px; margin-bottom: 0px; text-align: center;}
div.datepicker > .datepicker_inner_container > .datepicker_timelist > div.timelist_item.active { color: #ffffff; background-color: #0066CB; font-weight: 600; }
div.datepicker > .datepicker_inner_container > .datepicker_timelist > div.timelist_item.hover {color: rgb(51, 51, 51); background-color: #bce4f6; }
div.datepicker-input-container { position: relative; display: inline-block; }
div.datepicker-input-container span.common-material-icons { position: absolute; top: 7px; right: 2px;}



a, .btn-link{ color: #0066cb; }
a[href^="http"], a[href^="/"] { font-weight: 600; }
a:hover, a.active:hover, a:focus{ color: #0066cb; }



.tooltip.show {
	opacity: 1;
}
.tooltip.bs-tooltip-right .arrow::before {
	border-right-color: #333;
}
.tooltip.bs-tooltip-left .arrow::before {
	border-left-color: #333;
}
.tooltip.bs-tooltip-bottom .arrow::before {
	border-bottom-color: #333;
}
.tooltip.bs-tooltip-top .arrow::before {
	border-top-color: #333;
}
.tooltip .tooltip-inner {
	max-width: 300px;
	background-color: #333;
	color: #fff;
	font-weight: 600;
	font-size: 13px;
	text-align: left;
	border-radius: 0;
}

.sidebar-nav {
	border-right: 1px solid #e6e6e6;
	padding: 20px 10px 20px 20px;
}
.sidebar-nav:not(.collapsed) {
	min-width: 250px;
}
.sidebar-nav.collapsed {
	padding: 20px 0 0 0;
}
.sidebar-nav.loading > * {
	visibility: hidden;
}
.sidebar-nav.collapsed .sidebar-nav-separator {
	border-bottom: 1px solid #e6e6e6;
}
.sidebar-nav div.sidebar-nav-title {
	font-size: 11px;
	color: #6c6c6c;
}
.sidebar-nav.collapsed div.sidebar-nav-title {
	display: none;
}
.sidebar-nav .sidebar-nav-option {
	cursor: pointer;
	line-height: 50px;
	white-space: nowrap;
	color: #333;
}
.sidebar-nav .sidebar-nav-option > img {
	margin-right: 10px;
	width: 24px;
	height: 24px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.sidebar-nav .sidebar-nav-option.active > img.icon-bw {
	display: none;
}
.sidebar-nav .sidebar-nav-option:not(.active) > img.icon-color {
	display: none;
}
.sidebar-nav .sidebar-nav-option.active, .sidebar-nav .sidebar-nav-option:hover {
	background-color: #e6e6e6;
}
.sidebar-nav.collapsed .sidebar-nav-option {
	padding: 0 !important;
	text-align: center;
}
.sidebar-nav .sidebar-nav-option > span.common-material-icons {
	margin-right: 15px;
}
.sidebar-nav.collapsed .sidebar-nav-option > span:not(.common-material-icons) {
	display: none;
}
.sidebar-nav.collapsed .sidebar-nav-option > span.common-material-icons, .sidebar-nav.collapsed .sidebar-nav-option > img {
	margin-left: 13px;
	margin-right: 13px;
}
.sidebar-nav .sidebar-nav-collapse > div, .sidebar-nav.collapsed .sidebar-nav-expand > div {
	width: 50px;
	height: 50px;
	cursor: pointer;
}
.sidebar-nav .sidebar-nav-collapse > div:hover, .sidebar-nav.collapsed .sidebar-nav-expand > div:hover {
	background-color: #e6e6e6;
}
.sidebar-nav.collapsed .sidebar-nav-collapse, .sidebar-nav:not(.collapsed) .sidebar-nav-expand  {
	display: none;
}
.sidebar-nav:not(.collapsed) .sidebar-nav-collapse, .sidebar-nav.collapsed .sidebar-nav-expand  {
	display: block;
}
.double-arrow-container {
	position: relative;
	width: 25px;
	height: 25px;
}
.double-arrow-container > span {
	color: #6c6c6c;
}
.double-arrow-container > span.common-material-icons {
	position: absolute;
	font-size: 25px;
}
.double-arrow-container > span.common-material-icons:first-child {
	left: -4px;
}
.double-arrow-container > span.common-material-icons:not(:first-child) {
	right: -4px;
}

.tooltip.sidebar-nav-tooltip.show {
	opacity: 1;
}
.tooltip.sidebar-nav-tooltip .tooltip-inner {
	opacity: 1;
}
.sidebar-icon-color {
	color: #0066CB;
}



.user-header-details {
	border: 2px solid #ccc;
}
.user-header-details .details-user-role, .user-header-details .details-user-email, .user-header-details .details-user-name {
	color: #6c6c6c;
}
.user-header-details .logout-action {
	font-size: 13px;
	cursor: pointer;
	line-height: 50px;
	background-color: #f2f2f2;
}
.user-header-details .logout-action:hover {
	background-color: #e6e6e6;
}
.user-header-details .logout-action span:first-child {
	margin-right: 15px;
}



a.close-message-icon:hover, a.close-message-icon:visited, a.close-message-icon:active {
	text-decoration: none;
	color: #000;
	opacity: 0.6;
}

.close-message-icon {
	text-decoration: none;
	float: right;
	font-size: 21px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: 0.4;
	position: relative;
	overflow: hidden;
}



.isl-danger-link, .isl_danger_link:visited{
	color: rgb(191, 46, 46);
}

.isl-danger-link:hover, .isl_danger_link:active {
	color: rgb(200, 50, 46);
	cursor: pointer;
}


.float-label-action {
	top: 0;
	right: 0;
	line-height: 1;
	font-size: 12px;
}
